body{
  background-color:rgb(7, 199, 23) ;
  border: 10px solid rgb(128, 0, 0) 
 
}
.title{
  color:red;
  font-family: 'PT Sans', sans-serif;
  text-align:center;
  font-size: 7em;
}
.gallery{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}
img{
  width: 30%;
  margin-bottom: 60px;
  box-shadow: 10px 10px 20px red;
  margin: 20px;
}
